<!DOCTYPE html>
<html ng-app="Application">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
  <div ng-view ></div>

  </body>
  <script type="text/javascript" src="javascripts/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="javascripts/bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="ngApplication/Config/routes.js"></script>

  <script type="text/javascript" src="ngApplication/Controller/home.controller.js"></script> 
  <script type="text/javascript" src="ngApplication/Controller/user.controller.js"></script>
  <script type="text/javascript" src="ngApplication/Model/user.model.js"></script> 
</html>
